# Ignore Python cache files
__pycache__/
*.pyc


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/

.env/*


# Ignore artifacts folder
artifacts/

# Ignore logs folder and all files with a .log extension
logs/
*.log
