# Ignore Python cache files
__pycache__/
*.pyc


# Ignore OS-specific files
.DS_Store
Thumbs.db



# Ignore logs folder and all files with a .log extension
logs/
*.log


# Ignore virtual environments
venv/


# Ignore artifacts folder
artifacts/

#Ignore environments
.env/*